body  { 
    background-image : url('bg.jpg') ;   
    background-attachment: fixed;        
    }

table {
  border-collapse: collapse;
  width: 90%;
  }
 
td {
    background-color: #FFFFFF;
    text-align: center;
    border:1px solid #66CCCC;
    height: 50px;

    }
th {
    background-color: #66CCCC;
    text-align: center;
    border:1px solid #000000;
    height: 50px;
  
}

h1 {
    color: #993300;
    text-align: center;
    font-size: 8px;
}

