body  { 
    background-image : url('bg.jpg') ;   
    background-attachment: fixed;        
    }

table {
  border-collapse: collapse;
  width: 90%;
  }
 
td {
    background-color: #FFFFFF;
    text-align: center;
    border:1px solid #66CCCC;
    height: 50px;

    }

th {
    background-color: #66CCCC;
    text-align: center;
    border:1px solid #000000;
    height: 50px;
  
}

#color1 {
    background-color: #ADD8E6;
}

h1 {
    font-size: 50px;
    color: #60A2AA;
    text-align: left;
}
#left {
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('1.png');
}

li {
    float: left;
    width: 20%
}

li a {
    display: block;
    color: #8dcff4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color: #ffffff;
}

div.figure {
background-image: url('1.png');
float: left;
border: thin white solid;
margin: 0.5em;
padding: 0.5em;
}
div.figure p {
text-align: center;
font-size: 14px;
color: #60A2AA;
text-indent: 0;
}